header{
    background-image: url(/img/img_home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cccccc;
    position: absolute;
    top: 85px;
    height: 500px;
    z-index: -1;
}

.form-order{
    padding: 3% 22%;
}

.form-order label{
    margin-block: auto;
}