body {
    background: #d3cce3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e9e4f0, #d3cce3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centered {
    text-align: center !important;
    vertical-align: middle !important;
}

.cargaDeterminante.btn {
    background-color: transparent;
    border: none;
    /* Opcional: Elimina el borde si no es necesario */
}

.cargaDeterminante.btn svg {
    width: 16px;
    height: 16px;
}

.cargaDeterminante.btn {
    background-color: transparent;
    border: none;
    /* Opcional: Elimina el borde si no es necesario */
    font-size: 16px;
    /* Ajusta el tamaño del icono */
    color: #212121;
    /* Ajusta el color del icono */
}

.eliminar.btn {
    background-color: transparent;
    border: none;
    /* Opcional: Elimina el borde si no es necesario */
    font-size: 12px;
    /* Ajusta el tamaño del icono */
    color: #212121;
    /* Ajusta el color del icono */
}

.editar.btn {
    background-color: transparent;
    border: none;
    /* Opcional: Elimina el borde si no es necesario */
    font-size: 12px;
    /* Ajusta el tamaño del icono */
    color: #212121;
    /* Ajusta el color del icono */
}

.form-group.valor-referencia input[type="checkbox"] {
    width: 16px;
    /* Ajusta el tamaño según tus necesidades */
    height: 16px;
    /* Ajusta el tamaño según tus necesidades */
    vertical-align: middle;
    /* Alinea verticalmente con el texto */
}