li.nav-item>a.nav-link{
    color: rgb(13, 13, 13);
    font-weight: bold;
    }
nav.navbar.navbar-expand-lg{
        background-color:#FFC300 
    }
    li.nav-item>a.nav-link:hover{
        color: rgb(5, 5, 5);
        font-weight: bold;
        }