.error{
    
    border-color: red;
    border-width: 2px;
}

.form-control.correct:focus{
    box-shadow: 0 0 0 0.25rem rgb(67 230 91 / 25%);
    border-color: #6dc17c
}

.form-control.error:focus{
    box-shadow: 0 0 0 0.25rem rgba(230, 67, 67, 0.25);
    border-color: #c16d6d
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(153 220 244 / 25%);
    border-color: rgb(78 114 178)
}

.correct {
    
    border-color: green;
    border-width: 2px;
}

.custom-row-class{
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.custom-row-class.expanded{
    max-height: none;
}

/* #table_patients tbody td:first-child {
    display: none;
}

#table_patients thead th:first-child {
    display: none;
} */