nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow 
    .container
        a.navbar-brand.p-0(href='#')
            img(src='/img/logoATrans.png' alt='Alchemax_Logo' height='70')
        
        button.navbar-toggler(data-bs-toggle='collapse' data-bs-target='#menu')
            span.navbar-toggler-icon
        
        .collapse.navbar-collapse#menu
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/") Home 
                li.nav-item
                    a.nav-link(href="#AboutUs") About us 
                li.nav-item
                    a.nav-link(href="#Contactos") Contactos