nav.navbar.navbar-expand-lg
    .container
        a.navbar-brand.p-0(href='#')
            img(src='../img/microscopio.png' alt='Alchemax_Logo' height='70')
        
        button.navbar-toggler(data-bs-toggle='collapse' data-bs-target='#menu')
            span.navbar-toggler-icon
        
        .collapse.navbar-collapse#menu
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/home") Home      