nav.navbar.navbar-expand-lg
    .container
        a.navbar-brand.p-0(href='#')
            img(src='../img/microscopio.png' alt='Alchemax_Logo' height='70')
        
        button.navbar-toggler(data-bs-toggle='collapse' data-bs-target='#menu')
            span.navbar-toggler-icon
        
        .collapse.navbar-collapse#menu
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/home" style="font-size:24px;margin-right:20px") LabII  
                li.nav-item
                    a.nav-link(href="/" title="ver examenes") 
                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M13.75 2h-3.5a2.25 2.25 0 0 0-2.236 2H6.25A2.25 2.25 0 0 0 4 6.25v3.85a5.5 5.5 0 0 1 7.25 7.675l2.237 2.238A1.75 1.75 0 0 1 13.832 22h3.918A2.25 2.25 0 0 0 20 19.75V6.25A2.25 2.25 0 0 0 17.75 4h-1.764a2.25 2.25 0 0 0-2.236-2Zm-3.5 1.5h3.5a.75.75 0 0 1 0 1.5h-3.5a.75.75 0 0 1 0-1.5Zm-.3 14.39a4.5 4.5 0 1 0-1.145.976l2.915 2.914a.75.75 0 1 0 1.06-1.06l-2.83-2.83ZM6.5 18a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z" fill="#212121"/></svg> Mis examenes
                li.nav-item
                    a.nav-link(href="/logout" title='cerrar sesión') 
                         <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6.25 2.75a1.5 1.5 0 0 0-1.5 1.5v15.5a1.5 1.5 0 0 0 1.5 1.5h5.94a6.5 6.5 0 0 1 7.06-10.012V4.25a1.5 1.5 0 0 0-1.5-1.5H6.25Zm2.25 10.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm9 9.75a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Zm3.5-5.5a.5.5 0 0 1-.5.5h-4.793l1.647 1.646a.5.5 0 0 1-.708.708l-2.5-2.5a.5.5 0 0 1 0-.708l2.5-2.5a.5.5 0 0 1 .708.708L15.707 17H20.5a.5.5 0 0 1 .5.5Z" fill="#1b409e"/></svg> Salir 
                li.nav-item
                    a.nav-link(href="/home" style="margin-left:350px;" Title="contactanos") Teléfono: 0800-LABII-2024
                         