doctype html
html(lang="en")
    include includes/nav.pug
    include includes/linkStyles.pug
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 BUSCADOR