doctype html
    head 
        link(rel='shortcut icon' href='#')
        meta(http-equiv='Content-type' content='text/html; charset=utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')
        title DataTables estilo Bootstrap 5 - NodeJS y Express
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css' integrity='sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js' integrity='sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD' crossorigin='anonymous')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css')
        link(rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css')
        link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css')
        style.
            table.dataTable thead {
            background-color:#7952b3;
            color:aliceblue;
            }
    body 
        .container-fluid
  button#btnCrear.btn.btn-dark.mt-2 Crear
  .row.shadow-lg.p-3.mb-5
    .col
      table#tablaArticulos.table.table-striped.table-bordered(style='width:100%')
        thead
          tr
            th ID
            th DESCRIPCION
            th PRECIO
            th STOCK
            th.text-center ACCIONES
        tbody
    
//-  Modal para CRUD
#modalCRUD.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title
form#paciente(action="")
    .modal-body
    input#id(hidden='')
    label.col-form-label(for='') Descripción:
    input#descripcion.form-control(type='text')
    label.col-form-label(for='') Precio
    input#precio.form-control(type='number' step='0.01')
    label.col-form-label(for='') Stock
    input#stock.form-control(type='number')
    .modal-footer
    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancelar
    button#btnGuardar.btn.btn-dark(type='submit') Guardar
 include includes/scripts.pug   