html 
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name='msapplication-TileColor' content='#ffffff')
        meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
        meta(name='theme-color' content='#ffffff')
        title Laboratorio de Analisis
        include includes/linkStyles.pug 
        link(rel="stylesheet", href="../styles/home.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js') 
    body 
        include includes/nav.pug
        header.py-5.bg-image-full.imgHome(style="background-image: url('../img/img_home1.jpg');")
             div(style='height: 20rem;')
        // Content section
        section.py-5
            .container.my-5
                .row.justify-content-center
                    .col-lg-6
                        h2 Siempre a la altura de nuestros pacientes
                        p.lead Certificados en norma ISO 15189
                        p.mb-0 Nuestro Laboratorio obtuvo la acreditación ISO 15189, un estándar internacionalmente reconocido.
                        p.mb-0
                            |La Norma ISO 15189 fue elaborada para ser utilizada en los Laboratorios de Análisis Clínicos. La misma permite fomentar una cultura de constante mejora en los procesos que se realizan en los laboratorios asegurando la competencia técnica del laboratorio.
        // Image element - set the background image for the header in the line below
        .py-5.bg-image-full(style="background-image: url('../img/img_home.jpg');")
            // Put anything you want here! The spacer below with inline CSS is just for demo purposes!
            div(style='height: 20rem;')

        // Content section
        section.py-5
            .container.my-5
                .row.justify-content-center
                    .col-lg-6
                        h2 Resultados precisos, confiables y en tiempo óptimo
                        p.lead ISO 15189 nos proporciona el reconocimiento de la competencia como Laboratorio de Análisis Clínicos
                        p.mb-0
                            | El laboratorio es reevaluado regularmente para verificar que sigue manteniendo los estándares de calidad. Es un proceso voluntario mediante el cual una organización es capaz de medir la calidad de servicios, que demuestra la competencia técnica, asegurando la entrega de resultados precisos, confiables y en tiempo óptimo.

        // Footer
        include includes/footer.pug