extends layout.pug
block content
    include includes/nav
    header.container-fluid.p-5
        h1 Comenzar 
        p bla bla bla
        a.btn.btn-success.btn-lg.shadow.mx-auto(role='button' href='/registrarOrden') Cargar orden