doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Administracion de ordenes
        
        include includes/linkStyles.pug
        link(rel="stylesheet", href="/styles/ordenesStyle.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css")
        
        include includes/linksDataTable.pug
    body 
        if rol===1
            include includes/navAdmin.pug
        else if rol !== 6
            include includes/navAdmin.pug
        .container-fluid
            
            form#form_ordenes.row-12
                .p-3.m-4.bg-secondary-subtle
                    .p-3.pb-0.m-2
                        h3.text-center Ordenes                            
                    .mb-3.p-4.bg-light#divTablaOrdenes
                                #searchBarContainer.mb-3.row.ms-1
                                    .col-12.col-lg-7.col-xxl-6
                                            .col-12.ps-0
                                            label.form-label Ordenes:
                                            .input-group.mb-3.me-3
                                                select.btn.btn-outline-secondary.dropdown-toggle.px-lg-2.px-0(aria-expanded='false')#ordenesFilter
                                                    option.dropdown-item(value='apellidoPaciente') filtrar por apellido del paciente
                                                    option.dropdown-item(value='apellidoMedico') filtrar por apellido del medico
                                                    option.dropdown-item(value='nroOrden') filtrar por número de orden
                                                select.btn.btn-outline-secondary.dropdown-toggle.px-lg-2.px-0(aria-expanded='false')#ordenesFilterEstado
                                                    option.dropdown-item(value='todas' selected) Todas
                                                    option.dropdown-item(value='ingresada') Ingresadas
                                                    option.dropdown-item(value='esperando' title='esperando toma de muestras') Esperando toma...
                                                    option.dropdown-item(value='analitica') Analíticas
                                                    if rol===1
                                                        option.dropdown-item(value='canceladas') Canceladas
                                                input.form-control#ordenBuscador(aria-describedby='ordenBtn' type='text' placeholder='')
                                                button.btn.btn-warning(id='ordenBtn' type='button' aria-label='buscar') 
                                                    i.bi.bi-search
                                            #divOrdenErrores.col-12.text-danger    
                                div(id="divOrdenesTable").bg-secondary-subtle.p-3.rounded.row
                                        table(style='width:100%')#table_ordenes.table.table-striped.table-light.align-middle
                                            thead 
                                                tr 
                                                    th Orden
                                                    th Estado
                                                    th Paciente
                                                    th Dni pac.
                                                    th Medico
                                                    th fecha de creacion
                                                    th Acciones
                                            tbody
                                    
        //include includes/scripts
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js")
        script(type='module' src="/js/ordenesAdmin.js") 
        script. 
            const ordenes = !{JSON.stringify(ordenes || {})};
            console.log(ordenes);
    include includes/footer.pug